



<!DOCTYPE html>
<html lang="en">
<head>
  <script language="JavaScript">

function changeRadioButton(el){
    // console.log(el.value)

      // console.log(String(el.value))

    document.getElementById("txt").value = el.value;
}

function geturl(){
    // console.log(el.value)

      // console.log(String(el.value))

    var url = window.location.href;
    var res = url.split("v_timestamp");
    window.location.href = res[0];
}
</script>
  <title>{{id}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /*.card{
    margin-bottom: 10px;
}*/
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>






<button type="button" class="btn btn-primary" onclick = "geturl()">Home</button>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-6 sidenav">
      <h4>{{id}}</h4>
      <p>{{art}}</p>

      <h4 ><small>COMMENTS</small></h4>


      <ul class="list-group">
        {% for row in comments %}
        <li class="list-group-item">{{row}}</li>
        {% endfor %}
      </ul>








    </div>

    <div class="col-sm-6">
      <br>
      <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Initial Classification</div>
  <div class="card-body">
    <h5 class="card-title">{{org_class}}</h5>

    <p class="card-text">{{org_prob}}</p>
  </div>
  </div>
    <br>
<h4>Model generated text options:</h4>
<br>
<div id="rates">
  <input onclick="changeRadioButton(this)" type="radio" id="r1" name="rate" value="{{com1}}"> {{com1}}
  <br>
  <input onclick="changeRadioButton(this)" type="radio" id="r2" name="rate" value="{{com2}}"> {{com2}}
  <br>
  <input onclick="changeRadioButton(this)" type="radio" id="r3" name="rate" value="{{com3}}"> {{com3}}
  <br>
  <input onclick="changeRadioButton(this)" type="radio" id="r3" name="rate" value="{{com4}}"> {{com4}}
  <br>
  <input onclick="changeRadioButton(this)" type="radio" id="r3" name="rate" value="{{com5}}"> {{com5}}
</div>
<br>



      <h4>Add a Comment:</h4>

      <form action="{{ url_for('predict')}}" method="post">
        <!-- <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button> -->
        <input  type="hidden" id="abc" name="abc" value={{id}}>
        <input type="text"  name="search" id="txt"  style="width:1275px;font-size:14pt;">
        <br>
        <br>
        <button type="submit" name="Submit" style="width:70px;height:30px;font-size:14pt;">Submit</button>
      </form>

      <br><br>

      <!-- <p><span class="badge">2</span> Comments:</p><br> -->

      <!-- <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
          <p><span class="badge">1</span> Comment:</p><br>
          <div class="row">
            <div class="col-sm-2 text-center">
              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-xs-10">
              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
              <p>Me too! WOW!</p>
              <br>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div>


        </div>
        <div>
          {{prediction_text}}

          </div> -->


{% if id in prediction_text %}
<!-- <div>
  Here
  </div> -->
{% for val in prediction_text[id] %}

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{val}}</div>
  <div class="card-body">

    <h5 class="card-text">{{comm[id][loop.index0]}}</h5>
    <p class="card-title">{{prob[id][loop.index0]}}</p>
    <p class="card-title">Bleu Score: {{bleu[id][loop.index0]}}</p>
    <p class="card-title">Relevance Score: {{one_relevancy_score[id][loop.index0]}}</p>
  </div>



    </div>

    <br>
    {% endfor %}
    {% endif %}
  </div>
</div>

</body>
</html>
